In [96]:
import pandas as pd
import numpy as np

## Timestamp

In [97]:
# we can create a timestamp in pandas in several ways, like passing in a valid string like this
pd.Timestamp('Jan 25, 2020')

Timestamp('2020-01-25 00:00:00')

In [98]:
# by passing (year, month, date, hour, minute, second) seperately, in that order
pd.Timestamp(2019, 9, 1, 10, 5)

Timestamp('2019-09-01 10:05:00')

In [99]:
# isoweekday() is used to represent the day of the week that the timestamp is in (1 - Monday, 7 - Sunday)
pd.Timestamp(2019, 9, 1, 10, 5).isoweekday()

7

In [100]:
# we can extract inividual time elements from a timestamp
print(pd.Timestamp(2019, 9, 1, 10, 5, 20).hour, pd.Timestamp(2019, 9, 1, 10, 5, 20).second)

10 20

## Period

In [101]:
# this is used to obtain a span of time rather than a specific point in time
pd.Period('1/2016')
# specifies the time span inputted along with the minimum granularity

Period('2016-01', 'M')

In [102]:
# day granularity
pd.Period('1.2.2014')

Period('2014-01-02', 'D')

In [103]:
# it is very easy to perform arithmetic operations on period objects
pd.Period('1/2016') + 5
# moves ahead 5 months (or whatever granularity is returned)

Period('2016-06', 'M')

In [104]:
# example - two days before 25th Feb 2024
pd.Period('Feb 25, 2024') - 2

Period('2024-02-23', 'D')

## DatetimeIndex and PeriodIndex

In [105]:
# we can create a pandas series that has timestamps as indexes
t1 = pd.Series(list('abc'), index = [pd.Timestamp('1/1/2003'), pd.Timestamp('25/2/2002'), pd.Timestamp('16/3/2024')])
t1
# this series has an index type of DatetimeIndex

2003-01-01    a
2002-02-25    b
2024-03-16    c
dtype: object

In [106]:
# we can also use a time period as an index
t2 = pd.Series(list('def'), index = [pd.Period('1/2003'), pd.Period('2/2002'), pd.Period('3/2024')])
t2
# index type - PeriodIndex

2003-01    d
2002-02    e
2024-03    f
Freq: M, dtype: object

## Converting to Datetime

In [107]:
# we will take a list of dates, in different formats inside strings
d1 = ['2 June 2013','Jan 25, 2020', '26-11-2008', '1/1/2003', '25.2.2002']

# now, we create a random dataframe with the dates as indexes
df1 = pd.DataFrame(np.random.randint(10, 100, (5, 2)), index = d1, columns = ['a', 'b'])
df1

               a   b
2 June 2013   63  26
Jan 25, 2020  17  47
26-11-2008    12  60
1/1/2003      12  20
25.2.2002     55  66

In [108]:
# we can convert all the index dates to the standard timestamp format
df1.index = pd.to_datetime(df1.index, format = 'mixed')
df1

             a   b
2013-06-02  63  26
2020-01-25  17  47
2008-11-26  12  60
2003-01-01  12  20
2002-02-25  55  66

In [109]:
# to specify european date conventions in cases of ambiguity
pd.to_datetime('4.7.10', dayfirst = True)

Timestamp('2010-04-07 00:00:00')

## Timedelta

In [111]:
# timedeltas are differences in time
pd.Timestamp('13/2/2015') - pd.Timestamp('15/1/2015')

Timedelta('29 days 00:00:00')

In [115]:
# we can also add or subtract timedeltas
pd.Timestamp('13/2/2016 8:10pm') + pd.Timedelta('20d 3h')

Timestamp('2016-03-04 23:10:00')

## Offsets

In [116]:
# offsets can be applied to use pre-set time durations to our operations (hour, day, week, month, business day, end of month, semi month begin etc.)
pd.Timestamp('13/2/2016 8:10pm') + pd.offsets.Week()
# moves ahead one week

Timestamp('2016-02-20 20:10:00')

In [117]:
pd.Timestamp('13/2/2016 8:10pm') + pd.offsets.MonthEnd()
# moves to end of the month

Timestamp('2016-02-29 20:10:00')

## Working with Dates in a DataFrame

In [119]:
# we can create a custom date range using date_range() fn
pd.date_range(start = '1/2/2023', periods = 10, freq = '2W-SUN') # specify start date, number of periods, and frequency of occurence (biweekly on sunday)

DatetimeIndex(['2023-01-08', '2023-01-22', '2023-02-05', '2023-02-19',
               '2023-03-05', '2023-03-19', '2023-04-02', '2023-04-16',
               '2023-04-30', '2023-05-14'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [121]:
# for a frequency of occuring on business days
pd.date_range(start = '1 Jan 2003', periods = 20, freq = 'B')

DatetimeIndex(['2003-01-01', '2003-01-02', '2003-01-03', '2003-01-06',
               '2003-01-07', '2003-01-08', '2003-01-09', '2003-01-10',
               '2003-01-13', '2003-01-14', '2003-01-15', '2003-01-16',
               '2003-01-17', '2003-01-20', '2003-01-21', '2003-01-22',
               '2003-01-23', '2003-01-24', '2003-01-27', '2003-01-28'],
              dtype='datetime64[ns]', freq='B')

In [126]:
# lets create a dataframe with one of these examples
df = pd.DataFrame(np.random.randint(10, 100, (9, 2)), index = [pd.date_range(start = '3 March 1975', periods = 9, freq = 'W-SUN')], columns = ['A', 'B'])
df

             A   B
1975-03-09  59  34
1975-03-16  23  54
1975-03-23  32  62
1975-03-30  64  74
1975-04-06  66  15
1975-04-13  86  34
1975-04-20  39  15
1975-04-27  24  83
1975-05-04  83  93